<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body data-aos="zoom-in" data-aos-duration="2000">
    <img src="../static/images/index img-1.jpg"alt="">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-light static top-0 h-14"
      
    >
    
    
      <div class="container-fluid" style="position: absolute; top: 5px">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white font-sans" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Facilities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Toppers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Principal's Corner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fees Stracture</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Teachers Details</a></li>
                <li><a class="dropdown-item" href="#">Fees Portel</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/contact">FeedBack</a>
                </li>
              </ul>
            </li>
          </ul>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <button
              type="button"
              class="bg-slate-600 rounded-md mx-1 p-1 hover:text-gray-50"
            >
              <a href="/">log Out</a>
            </button>
            <!-- <button type="button" class="bg-slate-600 rounded-md mx-1 p-1 hover:text-gray-50"><a href="/signup">signup</a></button> -->
          </div>
        </div>
      </div>
    </nav>


    <h1 class="text-2xl flex justify-center text-red-600 m-3" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">--Heads Of Our Collage--</h1>
    <section class="card_main flex justify-center" data-aos="zoom-in" data-aos-duration="1100" data-aos-once="true">
      <!-- the card section of the site -->
      <div class="card1_card2 flex">

        <div class="maincon1  mx-4 text-center shadow-2xl ...">
          <div class="card" style="width: 18rem">
            <img src="../static/images/people logo.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text text-center">
                <h1 class="text-lg text-gray-400">Director</h1>
                <h1 class="font-bold text-xl">"Dr. Ramesh Kumar"</h1>
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        
        
        <div class="maincon1 mx-4 text-center shadow-2xl ...">
          <div class="card" style="width: 18rem">
            <img src="../static/images/people logo.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text text-center">
                <h1 class="text-lg text-gray-400">Manager</h1>
                <h1 class="font-bold text-xl">"Mr. Suresh Kumar"</h1>
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
        
      <div class="card3_card4 flex">

        <div class="maincon1 mx-4 text-center shadow-2xl ...">
          <div class="card" style="width: 18rem">
          <img src="../static/images/people logo.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              <h1 class="text-lg text-gray-400">Principal</h1>
              <h1 class="font-bold text-xl">"Dr. Ram Lal"</h1>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      
      
      
      <div class="maincon1 mx-4 text-center shadow-2xl ...">
        <div class="card" style="width: 18rem">
          <img src="../static/images/people logo.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              <h1 class="text-lg text-gray-400">Vice Principal</h1>
              <h1 class="font-bold text-xl">"Mahesh Bhadoria"</h1>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>

    </section>

    <section>
      <div class="m-20" data-aos="flip-up" data-aos-duration="800" data-aos-once="true" data-aos-once="true">
        <h1 class="mt-12 text-2xl flex justify-center">--Director's Talks--</h1>
        <p class="flex justify-center text-xl text-center text-green-500 my-3">"No One is born to rise, the thing of his life will force in the direction of where he and she want to go"</p>
        <p class="flex justify-center text-xl text-center text-green-500 my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a in reprehenderit aperiam doloribus delectus fugit quo maiores nostrum obcaecati.</p>
      </div>
    </section>

    <section>
      <h1 class="mt-12 text-2xl flex justify-center">--Collage's Special Courses--</h1>
        <div class="cousers flex justify-evenly" >
          <div class="card mt-3 shadow-md ..." style="width: 18rem;" data-aos="slide-left" data-aos-duration="1000" data-aos-once="true">
            <img src="/static/images/people logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-bold text-rose-500">Computer Courses</h5>
              <p class="card-text">We have some Special computer cources which is much importent for you child in future.</p>
              
                <li>C language</li>
                <li>Java language</li>
                <li>Python</li>
              
              <!-- <a href="#" class="btn btn-primary m-1">More</a> -->
            </div>
          </div>

          <div class="card mt-3 mx-4 shadow-md ..." style="width: 18rem;" data-aos="slide-right" data-aos-duration="1000" data-aos-once="true">
            <img src="/static/images/people logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-bold text-rose-500">Devlopement Courses</h5>
              <p class="card-text">We have some Special Devlopement cources which is much importent in the industries and solve the reallife problems.</p>
              <li>1- C language</li>
                <li>2- Java language</li>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>

      
        <div class="cousers flex justify-evenly mt-4">
          <div class="card mt-3 shadow-md ..." style="width: 18rem;" data-aos="slide-left" data-aos-duration="1000" data-aos-once="true">
            <img src="/static/images/people logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-bold text-rose-500">language Courses</h5>
              <p class="card-text">We have some Special language cources which is much importent for you child in future.</p>
              
                <li>French Language</li>
                <li>Spanish Language</li>
                
              
              <!-- <a href="#" class="btn btn-primary m-1">More</a> -->
            </div>
          </div>

          <div class="card mt-3 mx-4 shadow-md ..." style="width: 18rem;" data-aos="slide-right" data-aos-duration="1000" data-aos-once="true">
            <img src="/static/images/people logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-bold text-rose-500">Games Ground</h5>
              <p class="card-text">We have some Special games ground which is must important for your childs to grow mentally as well as physically.</p>
              <li>Football Field</li>
                <li>Cricket Stadium</li>
                <li>Badminton Court</li>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>


    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
