<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Nunito&family=PT+Sans:ital@1&family=Pacifico&family=Playfair+Display:ital,wght@1,500&display=swap"
    />
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body
    style="
      font-family: 'Lobster', cursive;
      background-image: url(../static/Background.jpg);
      background-size: cover;
    "
  >
    <div
      class="head text-3xl font-bold flex justify-center my-1 text-cyan-900"
    >
      <h1 class="flex align-super">Welcome To Wisdom National School</h1>
    </div>
    
    
    <!-- this is the content-1 -->
    <div
      class="main_con w-fit my-20 mx-9 bg-blue-100 rounded-xl p-10 gap-4 border-2 border-blue-400 box shadow-lg shadow-blue-600 md:mx-9 sm:mx-2">
      <h1 class="text-2xl">Student Login-</h1>
      <hr style="border: 1px solid red;">
      <h1>Enter Your Username And Password</h1>
      
    
      <input
        class="my-1 rounded-xl p-1"
        type="email"
        name="Email"
        placeholder="Enter UserID"
        id=""
      />
      <input
        class="my-1 rounded-xl p-1"
        type="Password"
        placeholder="Password"
        name="Pass"
        id=""
      />
        <div class="btn">
        <button class="bg-green-400 p-1 rounded-xl w-16 m-2" type="submit">
          Submit
        </button>
        
        <button class="bg-green-400 p-1 rounded-xl w-16 m-2" type="reset">
          Reset
        </button>
      </div>
    </div>

    <footer class="bg-slate-900 text-white h-72 mt-56 ">
        <div class="foot p-5">
          <h1 class="flex justify-center font-bold text-xl">----Wisdon National School----</h1>
          <div class="flex justify-center">
            <p class="w-1/2 my-3 text-center">
                Main office - Mahatma Gandhi Road, Fort, Mumbai, Maharashtra 400032.
                Additional - University of Mumbai,Vidya Nagari, Kalina, Santacruz East, Mumbai, Maharashtra 400098.
              
              <hr>
            </p>
            
          </div>
          
          <div class="flex p-2 justify-center bottom-0 my-6">
            
            <h1 class="text-red-700 font-bold">Follow us -</h1>
            <a href="https://www.facebook.com/harshsaxenajii/" target=" "
              ><img class="w-6 mx-1" src="../static/facebook.png" alt="img"
            /></a>
            <a href="https://www.instagram.com/harsh.saxenajii/" target=" "
              ><img class="w-6 mx-1" src="../static/instagram.png" alt="img"
            /></a>
            <a href="/" target=" "
              ><img class="w-6 mx-1" src="../static/telegram.png" alt="img"
            /></a>
          </div>
  
        </div>
      </footer>
  </body>
</html>
