@tailwind base;
@tailwind components;
@tailwind utilities;

.main_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 990px) {
  
}
@media screen and (min-width: 768px) and (max-width: 1320px) {
  .card1_card2{
    display: flex;
    flex-direction: column;
    margin-top:25px;
    
  }
  .card3_card4{
    display: flex;
    flex-direction: column;
    margin-top: 25px;

  }
}
@media screen and (max-width: 760px) {
  .card1_card2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    
  }
  .card3_card4{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
  }
  .card_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .maincon1{
    margin-top: 20px;
  }
}
